In [9]:

import numpy as np
import pandas as pd
import os

In [11]:
path_to_file = os.path.join(".", "Resources", "Rowan County Adoptable Dog List - Cat Info.csv")
RCA_cat_df = pd.read_csv(path_to_file)
RCA_cat_df.head()

,,Animal ID,Kennel #,Name,Description,Sex,Age,S/N,FIS,Intake,...,Sex.1,Age.1,S/N.1,FIS.1,Intake.1,Unnamed: 27,Available.1,Last Day.1,Notes,Applications.1
0,X,A124749,K18,Fraulein,DSH Brw Tabby W/Wht,Female,Adult,NaN,Y,Stray,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,X,A124782,K17,Brogan,DSH Brn Tab,Male,Adult,NaN,Y,Stray,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,X,A124797,K6,Merica,DSH Silver Tab,Male,Adult,NaN,Y,Stray,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,X,A124800,K5,Momma Kat,DSH Dilute Torti,Female,Adult,NaN,Y,Stray,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,X,A124661,Q25,Mellow,DSH Blk/Wht,Male,Adult,NaN,Y,Stray,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
path_to_file = os.path.join(".", "Resources", "Rowan County Adoptable Dog List - Dog Info.csv")
RCA_dog_df = pd.read_csv(path_to_file)
RCA_dog_df.head()

,a125056,Animal ID,Kennel #,Name,Breed,Description,Sex,Age,S/N,FIS,Intake,Unnamed: 11,Available,Last Day,Outcome,Applications
0,X,A122246,3,Chance,Catahoula Mix,Blue Merle,Male,2 Yrs,Yes,NaN,Owner,NaN,10/9/2020,10/23/2020,Rescue Only,NaN
1,X,A125012,P9,Alice,Chih Mix,Tan,Female,Adult,NaN,Y,Stray,28144.0,10/22/2020,10/31/2020,Adopted,10/22/20
2,X,A125014,19,Ocelot,Lab Mix,Black,Male,10 yr,No,NaN,Stray,28146.0,10/22/2020,10/31/2020,Adopted,10/22/20
3,X,A125017,5,Surfer Girl,Shepherd Mix,Black/Tan,Female,2 Yrs,No,NaN,Stray,28147.0,10/23/2020,11/2/2020,NaN,X
4,X,A125031,10,Judge,German Shep.,Tan/Blk,Male,6 Yrs,No,NaN,Owner,NaN,10/20/2020,11/3/2020,Rescue Only,NaN

In [13]:
path_to_file = os.path.join(".", "Resources", "SoCo-Animal_Shelter_Intake_and_Outcome.csv")
SoCO_animals_df = pd.read_csv(path_to_file)
SoCO_animals_df.head()

,Name,Type,Breed,Color,Sex,Size,Date Of Birth,Impound Number,Kennel Number,Animal ID,...,Intake Subtype,Outcome Type,Outcome Subtype,Intake Condition,Outcome Condition,Intake Jurisdiction,Outcome Jurisdiction,Outcome Zip Code,Location,Count
0,SKY,DOG,GERM SHEPHERD,BLACK/TAN,Female,MED,NaN,K20-035118,DS69,A395686,...,FIELD,RETURN TO OWNER,OVER THE COUNTER_CALL,HEALTHY,HEALTHY,COUNTY,COUNTY,95404.0,"95404(38.458384, -122.675588)",1
1,COCO,DOG,BEAGLE,TRICOLOR,Neutered,SMALL,04/06/2015,K17-025093,DS83,A379968,...,FIELD,TRANSFER,NC AN FRND,UNKNOWN,HEALTHY,SANTA ROSA,OUT OF COUNTY,95758.0,"95758(38.424655, -121.438065)",1
2,SUZIE,DOG,LABRADOR RETR/MIX,BLACK,Spayed,LARGE,01/23/2011,K15-012348,DA34,A315553,...,OVER THE COUNTER,ADOPTION,INTERNET,HEALTHY,HEALTHY,SANTA ROSA,SANTA ROSA,95404.0,"95404(38.458384, -122.675588)",1
3,NaN,DOG,GERM SHEPHERD/MIX,TRICOLOR,Unknown,MED,NaN,K20-036188,VET,A398868,...,FLD_CRUEL,RETURN TO OWNER,MEDICAL,UNKNOWN,HEALTHY,SANTA ROSA,NaN,NaN,NaN,1
4,FELIX,CAT,DOMESTIC SH,BLACK,Neutered,KITTN,05/12/2018,K18-029084,LOBBY,A374683,...,OVER THE COUNTER,ADOPTION,WALKIN,HEALTHY,HEALTHY,SANTA ROSA,COUNTY,95407.0,"95407(38.403734, -122.736775)",1