In [1]:

import numpy as np
import pandas as pd
import os

In [19]:
path_to_file = os.path.join(".", "Resources", "Rowan County Adoptable Dog List - Cat Info.csv")
RCA_cat_df = pd.read_csv(path_to_file)
RCA_cat_df.rename(columns = {"Description":"Description/Breed"}, inplace = True)
cleanRCA_cat_df = RCA_cat_df[["Animal ID", "Description/Breed", "Sex", "Intake"]].copy()
cleanRCA_cat_df.head()

  Animal ID    Description/Breed     Sex Intake
0   A124749  DSH Brw Tabby W/Wht  Female  Stray
1   A124782          DSH Brn Tab    Male  Stray
2   A124797       DSH Silver Tab    Male  Stray
3   A124800     DSH Dilute Torti  Female  Stray
4   A124661          DSH Blk/Wht    Male  Stray

In [20]:
path_to_file = os.path.join(".", "Resources", "Rowan County Adoptable Dog List - Dog Info.csv")
RCA_dog_df = pd.read_csv(path_to_file)
RCA_dog_df.rename(columns = {"Breed":"Description/Breed"}, inplace = True)
cleanRCA_dog_df = RCA_dog_df[["Animal ID", "Description/Breed", "Sex", "Intake"]].copy()
cleanRCA_dog_df.head()

  Animal ID Description/Breed     Sex Intake
0   A122246     Catahoula Mix    Male  Owner
1   A125012          Chih Mix  Female  Stray
2   A125014           Lab Mix    Male  Stray
3   A125017      Shepherd Mix  Female  Stray
4   A125031      German Shep.    Male  Owner

In [21]:
path_to_file = os.path.join(".", "Resources", "SoCo-Animal_Shelter_Intake_and_Outcome.csv")
SoCO_animals_df = pd.read_csv(path_to_file)
SoCO_animals_df.rename(columns = {"Breed":"Description/Breed", "Intake Subtype":"Intake"}, inplace = True)
cleanSoCo_animals_df = SoCO_animals_df[["Animal ID", "Description/Breed", "Sex", "Intake"]].copy()
cleanSoCo_animals_df.head()

  Animal ID  Description/Breed       Sex            Intake
0   A395686      GERM SHEPHERD    Female             FIELD
1   A379968             BEAGLE  Neutered             FIELD
2   A315553  LABRADOR RETR/MIX    Spayed  OVER THE COUNTER
3   A398868  GERM SHEPHERD/MIX   Unknown         FLD_CRUEL
4   A374683        DOMESTIC SH  Neutered  OVER THE COUNTER